<div class="onesignal-pushout-subscribe-sms-block__wrapper">
  <div class="description">
    {{ data.description|raw }}
  </div>
  <div class="onesignal-pushout-subscribe-sms-form-wrapper">
    {{ subscribe_sms_block_form }}
  </div>
</div>